@import 'Styles/colors.scss';

.name {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-weight: 500;
}

.container {
  display: flex;
  align-items: center;
  column-gap: 2px;

  color: $success-darker;

  & .circle {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: $success;
  }

  &.occupied {
    color: $error-darker;

    & .circle {
      background-color: $error;
    }
  }
}
