@import 'Styles/colors.scss';

.event-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  row-gap: 5px;

  width: 100%;

  & .event-name {
    color: $primary;
    text-align: left;
    font-weight: 500;
  }
}

.hours {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  column-gap: 5px;
  text-align: left;

  & > time {
    font-weight: 500;
  }
}
