$primary: #3792cb;
$secondary: #efefef;

$success: #89e289;
$success-darker: #5b975b;

$error: #e48782;
$error-darker: #c61a09;
$error-lighter: #fbeeed;

$black: #010101;
$grey: #bbbbbb;

$white: #fefefe;
