@import 'Styles/colors.scss';

.container {
  display: flex;
  flex-direction: column;

  background: linear-gradient(135deg, #f5f7fa 100%, #c3cfe1 0%);
  padding: 20px;

  margin: 10px 0;
  border: 1px solid $grey;
  border-radius: 10px;

  & .title {
    display: flex;
    font-size: 14px;
    flex-wrap: wrap;
    column-gap: 5px;
  }

  & .spinner,
  .name {
    color: $primary;
  }

  & .modal-title {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
  }

  & .add {
    position: fixed;
    align-self: flex-end;
    bottom: 26px;
  }
}
