@import 'Styles/colors.scss';

.timeline-container {
  position: relative;

  width: 100%;

  display: flex;
  flex-direction: column;

  margin: 40px 0;

  &::after {
    position: absolute;
    content: '';

    background-color: $primary;

    width: 4px;
    height: 100%;

    @media (min-width: 320px) {
      left: 0;
    }

    @media (min-width: 768px) {
      left: calc(50% - 2px);
    }

    @media (min-width: 1200px) {
      left: calc(50% - 2px);
    }
  }

  & .timeline-item {
    display: flex;

    margin: 10px 0;

    @media (min-width: 320px) and (max-width: 767px) {
      justify-content: flex-start;
      padding-left: 30px;
    }

    @media (min-width: 768px) {
      justify-content: flex-end;
      padding-right: 30px;

      width: 50%;
    }

    &:nth-child(odd) {
      @media (min-width: 768px) {
        align-self: flex-end;
        justify-content: flex-start;
        padding-right: 0;
        padding-left: 30px;

        & .timeline-item-content {
          text-align: left;

          margin: 0 0 0 30px;

          &::after {
            left: -7.5px;
            box-shadow: -0.5px 0.5px 0.5px rgb(0 0 0 / 20%);
          }

          & .circle {
            right: auto;
            left: calc(-2rem - 11px);
          }
        }
      }
    }

    & .timeline-item-content {
      position: relative;

      display: flex;
      flex-direction: column;

      padding: 10px;

      max-width: 70%;
      background-color: $white;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

      @media (min-width: 320px) {
        text-align: left;
        align-items: flex-start;
        width: 350px;
        max-width: 100%;
        margin: 0;
      }

      @media (min-width: 768px) {
        text-align: right;
        align-items: flex-end;

        width: 400px;
        margin: 0 30px 0 0;
      }

      @media (min-width: 1200px) {
        width: 450px;
      }

      &::after {
        position: absolute;
        content: ' ';

        right: -7.5px;
        top: calc(50% - 7.5px);

        @media (min-width: 320px) and (max-width: 767px) {
          left: -7.5px;
          box-shadow: -0.5px 0.5px 0.5px rgb(0 0 0 / 20%);
        }

        background-color: $white;
        transform: rotate(45deg);
        box-shadow: 0.5px -0.5px 0.5px rgb(0 0 0 / 20%);

        height: 15px;
        width: 15px;
      }

      & .circle {
        z-index: 100;
        position: absolute;
        background-color: $white;
        border: 3px solid $primary;

        top: calc(50% - 14px);
        right: calc(-2rem - 11px);

        border-radius: 50%;
        height: 20px;
        width: 20px;

        @media (min-width: 320px) and (max-width: 767px) {
          left: -40px;
        }
      }
    }
  }
}
